global
    daemon
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    timeout check 3s
    log global

frontend postgres_write
    bind *:5000
    mode tcp
    default_backend master

frontend postgres_read
    bind *:5001
    mode tcp
    default_backend replica

backend master
    mode tcp
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 check port 8008
    server patroni1 patroni1:5432
    server patroni2 patroni2:5432
    server patroni3 patroni3:5432

backend replica
    mode tcp
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 check port 8008
    server patroni1 patroni1:5432
    server patroni2 patroni2:5432
    server patroni3 patroni3:5432

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
